@{
  Layout = "_Layout";
}

@model ToDoList.Models.Tag

<h3>Please confirm that you are removing @Html.DisplayFor(model => model.Name) from the license list.</h3>

<div>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Confirm and remove" />
  }
  <div class="buttons">
    <p>@Html.ActionLink("Back to License List", "Index")</p>
  </div>
</div>