@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Licenses</h1>

@if (@Model.Count == 0)
{
  <h3>No licenses have been added yet!</h3>
} 

@foreach (License li in Model)
{
  <li>@Html.ActionLink($"{li.Title}", "Details", new { id = li.LicenseId })</li>
}

<p>@Html.ActionLink("Add new License", "Create")</p>
<p>@Html.ActionLink("Main Page", "Index", "Home")</p>